alabaster==0.7.12
arrow==0.15.5
autopep8==1.5
binaryornot==0.4.4
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
commonmark==0.9.1
Cython==0.29.15
docformatter==1.3.1
docutils==0.16
future==0.18.2
idna==2.9
imagesize==1.2.0
importlib-metadata==1.6.0
Markdown==3.2.2
MarkupSafe==1.1.1
olefile==0.46
packaging==20.3
poyo==0.5.0
ptvsd==4.3.2
Pygments==2.6.1
pyparsing==2.4.6
PySide2==5.14.2.1
python-dateutil==2.8.1
pytz==2020.1
recommonmark==0.6.0
requests==2.23.0
rstcheck==3.3.1
scikit-build==0.10.0
shiboken2==5.14.2.1
six==1.14.0
smmap==3.0.4
snakeviz==2.0.1
snowballstemmer==2.0.0
Sphinx==3.0.3
sphinx-markdown-tables==0.0.14
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
UNKNOWN==0.0.0
untokenize==0.1.1
urllib3==1.25.8
websocket-client==0.57.0
whichcraft==0.6.1
wincertstore==0.2
zipp==3.1.0
